@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenir/AvenirLTStd-Book.otf"); }
/* =============================================================================
HTML5 CSS Reset Minified - Eric Meyer
========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

li {
  list-style: none; }

* {
  font-family: "Avenir"; }

p {
  margin-bottom: 20px;
  font-family: 'Avenir';
  font-size: 18px;
  line-height: 1.5em;
  color: #FFFFFF; }
  @media screen and (max-width: 768px) {
    p {
      font-size: calc(14px + 0.390625vw);
      line-height: calc(24px + 0.390625vw); } }

.container {
  max-width: 100%;
  margin: 0 auto; }

@media screen and (max-width: 768px) {
  .container {
    width: 100%; } }
@media screen and (min-width: 768px) {
  .container {
    width: 720px; } }
@media screen and (min-width: 900px) {
  .container {
    width: 860px; } }
@media screen and (min-width: 992px) {
  .container {
    width: 960px; } }
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    width: 1000px; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px; } }
@media screen and (min-width: 1440px) {
  .container {
    width: 1200px; } }
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99; }
  .menu-overlay.active {
    display: block; }

.menu-navigation {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40vw;
  height: 100%;
  background-color: #8054E7;
  z-index: 9999;
  padding: 50px;
  transition: all .5s; }
  .menu-navigation.active {
    right: 0; }
  .menu-navigation__close {
    width: fit-content;
    height: fit-content;
    cursor: pointer; }
    .menu-navigation__close img {
      transition: transform .7s ease-in-out; }
      .menu-navigation__close img:hover {
        transform: rotate(360deg); }
  .menu-navigation__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .menu-navigation__list .list__item {
      position: relative;
      padding: 16px 0;
      width: fit-content;
      height: fit-content; }
      .menu-navigation__list .list__item.active::after {
        content: "";
        width: 80%;
        height: 16px;
        position: absolute;
        bottom: 22px;
        left: 0;
        background: rgba(236, 236, 246, 0.2); }
      .menu-navigation__list .list__item a {
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        color: #FFFFFF; }
  .menu-navigation__btn {
    margin-top: 40px;
    display: inline-block;
    padding: 16px 36px;
    background: #FFFFFF;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #8054E7; }
  .menu-navigation__about {
    position: absolute;
    top: 92vh; }
    .menu-navigation__about li {
      position: relative;
      padding-left: 20px;
      padding-right: 10px;
      display: inline;
      color: #FFFFFF; }
      .menu-navigation__about li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #FFF; }
      .menu-navigation__about li:first-child {
        padding-left: 0; }
        .menu-navigation__about li:first-child::before {
          display: none; }

.header {
  width: 100%;
  padding: 20px 0;
  background: #FFF;
  position: fixed;
  top: 0;
  z-index: 88; }
  .header.shadow {
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    --backdrop-fallback: rgba(255,255,255,0.95);
    --backdrop-background: rgba(255,255,255,0.5);
    --backdrop: saturate(200%) blur(15px);
    background: var(--backdrop-background);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: var(--backdrop); }
    @supports not ((backdrop-filter: var(--backdrop)) or (-webkit-backdrop-filter: var(--backdrop))) {
      .header.shadow {
        background-color: white; } }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .container .logo {
      max-width: 300px; }
      .header .container .logo img {
        width: 100%;
        height: auto; }
    .header .container .navigation {
      width: fit-content;
      height: fit-content; }
      .header .container .navigation__action {
        z-index: 9999;
        width: 45px;
        height: 35px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer; }
        .header .container .navigation__action span {
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background: #000000;
          border-radius: 10px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out; }
          .header .container .navigation__action span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center; }
          .header .container .navigation__action span:nth-child(2) {
            top: 12px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center; }
          .header .container .navigation__action span:nth-child(3) {
            top: 24px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center; }
        .header .container .navigation__action.open span:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 0;
          left: 2px; }
        .header .container .navigation__action.open span:nth-child(2) {
          width: 0%;
          opacity: 0; }
        .header .container .navigation__action.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 32px;
          left: 2px; }

.hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  padding-bottom: 100px; }
  .hero .wave {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 2; }
  .hero .caption {
    max-width: 40vw; }
    .hero .caption__title {
      font-weight: 800;
      font-size: 44px;
      line-height: 54px;
      color: #000000; }
      .hero .caption__title span {
        display: block;
        color: #8054E7; }
    .hero .caption__subtitle {
      max-width: 80%;
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #494848; }
    .hero .caption__btn {
      margin-top: 20px;
      display: inline-block;
      font-family: 'Avenir';
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      padding: 12px 40px;
      color: #FFFFFF;
      background: #8054E7;
      box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: 27px; }
  .hero .image {
    position: absolute;
    bottom: 60px;
    right: 8%;
    z-index: 1; }

.section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 180px; }
  .section .wave {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 2; }
  .section .head {
    margin: 0 auto;
    max-width: 44vw; }
    .section .head__title {
      position: relative;
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      font-weight: 500;
      font-size: 44px;
      line-height: 54px;
      color: #000000; }
      .section .head__title::after {
        content: "";
        width: 80%;
        height: 16px;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        background: #CACAEA; }
    .section .head__subtitle {
      margin-top: 10px;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      color: #A0A0A0; }
  .section .content {
    margin-top: 50px; }
  .section--color {
    background-color: #ECECF6; }
    .section--color .head__title {
      z-index: 1; }
      .section--color .head__title::before {
        background: #CACAEA; }
    .section--color .head__subtitle {
      color: #000000; }
  .section--about {
    position: relative;
    background: #ECECF6; }
    .section--about .container {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .section--about .container .image {
        max-width: 40vw; }
        .section--about .container .image img {
          width: 100%;
          height: auto; }
      .section--about .container .detail__title {
        position: relative;
        width: fit-content;
        font-weight: 500;
        font-size: 44px;
        line-height: 48px;
        color: #000000;
        z-index: 1; }
        .section--about .container .detail__title::after {
          content: "";
          width: 80%;
          height: 16px;
          position: absolute;
          bottom: 6px;
          left: 0;
          z-index: -1;
          background: #CACAEA; }
      .section--about .container .detail__txt {
        margin-top: 40px; }
        .section--about .container .detail__txt p {
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #000000; }
      .section--about .container .detail__list {
        margin-top: 40px;
        display: flex;
        align-items: center; }
        .section--about .container .detail__list .list__item {
          width: 33.33%;
          padding: 16px 0;
          margin: 0 10px;
          background: #FFFFFF;
          border-radius: 15px;
          text-align: center; }
          .section--about .container .detail__list .list__item:first-child {
            margin-left: 0; }
          .section--about .container .detail__list .list__item:last-child {
            margin-right: 0; }
          .section--about .container .detail__list .list__item .title {
            font-weight: 400;
            font-size: 40px;
            line-height: 50px;
            color: #8054E7; }
          .section--about .container .detail__list .list__item .description {
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #3C3C3C; }
    .section--about .title {
      font-weight: 500;
      font-size: 44px;
      line-height: 28px;
      color: #000000; }
    .section--about .description {
      margin-top: 40px; }
      .section--about .description p {
        margin: 0;
        color: #000000; }
  .section--services .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px; }
    .section--services .list .item {
      display: flex;
      justify-content: start; }
      .section--services .list .item__icon {
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        padding: 18px;
        background-color: #ECECF6;
        border-radius: 15px;
        transform: rotate(45deg); }
        .section--services .list .item__icon img {
          transform: rotate(-45deg); }
      .section--services .list .item__detail {
        margin-left: 25px;
        display: flex;
        flex-direction: column; }
        .section--services .list .item__detail .detail__title {
          font-weight: 500;
          font-size: 22px;
          line-height: 34px;
          color: #000000; }
        .section--services .list .item__detail .detail__caption {
          margin-top: 4px;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #494848; }
  .section--packages .content .packages {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 40px; }
    .section--packages .content .packages .item {
      background: #FFFFFF;
      border-radius: 44px;
      padding: 40px; }
      .section--packages .content .packages .item__subtitle {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #000000; }
      .section--packages .content .packages .item__title {
        margin: 10px auto;
        width: fit-content;
        padding-left: 30px;
        position: relative;
        text-align: center;
        font-weight: 500;
        font-size: 64px;
        line-height: 74px;
        color: #8054E7; }
        .section--packages .content .packages .item__title sup {
          position: absolute;
          top: 0;
          left: 0;
          font-weight: 500;
          font-size: 22px;
          line-height: 32px;
          color: #A0A0A0; }
      .section--packages .content .packages .item__list {
        margin-top: 10px;
        text-align: left; }
        .section--packages .content .packages .item__list li {
          position: relative;
          padding-left: 25px;
          padding-top: 4px;
          padding-bottom: 4px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #8A8A8A; }
          .section--packages .content .packages .item__list li::before {
            content: '';
            background: url("../img/icon-check.svg");
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 16px;
            transform: translateY(-50%); }
      .section--packages .content .packages .item:nth-child(2) {
        background-color: #8054E7; }
        .section--packages .content .packages .item:nth-child(2) .item__subtitle {
          color: #FFFFFF; }
        .section--packages .content .packages .item:nth-child(2) .item__title {
          color: #FFFFFF; }
          .section--packages .content .packages .item:nth-child(2) .item__title sup {
            color: #FFFFFF; }
        .section--packages .content .packages .item:nth-child(2) .item__list li {
          color: #FFFFFF; }
          .section--packages .content .packages .item:nth-child(2) .item__list li::before {
            background: url("../img/icon-check-white.svg"); }
  .section--instructors .content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section--instructors .content .list {
      padding: 0 80px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px 0; }
      .section--instructors .content .list .item__img {
        max-width: 220px; }
        .section--instructors .content .list .item__img img {
          width: 100%;
          height: auto;
          border-radius: 20px; }
      .section--instructors .content .list .item__detail .detail__name {
        margin-top: 10px;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #000000; }
      .section--instructors .content .list .item__detail .detail__skill {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #969696; }
      .section--instructors .content .list-second {
        max-height: 0;
        margin-top: 30px;
        overflow: hidden;
        transition: max-height 2s; }
        .section--instructors .content .list-second.active {
          max-height: 1000px; }
    .section--instructors .content .more {
      cursor: pointer;
      width: fit-content;
      margin: 40px auto;
      padding: 8px 20px;
      background: #8054E7;
      box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: 27px;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #FFFFFF; }
      .section--instructors .content .more img {
        width: 14px;
        height: 8px;
        margin-left: 8px; }
  .section--vehicles .swiper {
    margin-top: 80px; }
    .section--vehicles .swiper-slide {
      text-align: center; }
      .section--vehicles .swiper-slide img {
        max-height: 220px; }
  .section--schedules .content {
    display: grid;
    padding: 0 80px;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px; }
    .section--schedules .content__item {
      background: #ECECF6;
      border-radius: 20px;
      padding: 40px; }
      .section--schedules .content__item .title {
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
        color: #000000;
        text-align: center; }
      .section--schedules .content__item .subtitle {
        margin-top: 8px;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: #000000;
        text-align: center; }
      .section--schedules .content__item .instructor {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 16px; }
        .section--schedules .content__item .instructor__list .item {
          margin-top: 10px;
          display: flex;
          align-items: center;
          background-color: #FFFFFF;
          border-radius: 10px;
          padding: 4px; }
          .section--schedules .content__item .instructor__list .item__img {
            max-width: 35px; }
          .section--schedules .content__item .instructor__list .item__name {
            margin-left: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #000000; }
  .section--testimonials {
    padding-bottom: 200px; }
    .section--testimonials .swiper {
      padding: 0 20px; }
      .section--testimonials .swiper-slide {
        padding: 0 20px; }
        .section--testimonials .swiper-slide .content {
          background: #FFFFFF;
          padding: 30px 40px;
          border-radius: 20px; }
          .section--testimonials .swiper-slide .content__txt p {
            margin: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #000000; }
          .section--testimonials .swiper-slide .content__description {
            margin-top: 30px;
            display: flex;
            justify-content: space-between; }
            .section--testimonials .swiper-slide .content__description .profile {
              display: flex;
              align-items: center; }
              .section--testimonials .swiper-slide .content__description .profile__img img {
                border-radius: 50px;
                max-width: 40px; }
              .section--testimonials .swiper-slide .content__description .profile__detail {
                margin-left: 16px; }
                .section--testimonials .swiper-slide .content__description .profile__detail .name {
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 18px;
                  color: #000000; }
                .section--testimonials .swiper-slide .content__description .profile__detail .job {
                  margin: 0;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 24px;
                  color: #B3B3B3; }
  .section--contact {
    padding-bottom: 100px;
    background: #8054E7; }
    .section--contact .container .content-message {
      display: grid;
      grid-template-columns: 1.5fr 1fr; }
      .section--contact .container .content-message .maps {
        position: relative;
        padding-right: 20px; }
        .section--contact .container .content-message .maps::before {
          content: "";
          width: 200px;
          height: 350px;
          background: rgba(255, 255, 255, 0.2);
          position: absolute;
          top: -40px;
          left: -40px; }
        .section--contact .container .content-message .maps iframe {
          width: 100%;
          height: 560px; }
      .section--contact .container .content-message .contact {
        margin-left: 20px; }
        .section--contact .container .content-message .contact__title {
          position: relative;
          width: fit-content;
          color: #FFFFFF;
          font-weight: 400;
          font-size: 32px;
          line-height: 42px;
          color: #FFFFFF;
          z-index: 1; }
          .section--contact .container .content-message .contact__title::after {
            content: "";
            width: 80%;
            height: 16px;
            position: absolute;
            bottom: 6px;
            left: 0;
            z-index: -1;
            background: rgba(255, 255, 255, 0.4); }
        .section--contact .container .content-message .contact__subtitle {
          margin-top: 20px;
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
          color: #FFFFFF; }
        .section--contact .container .content-message .contact__form {
          margin-top: 36px; }
          .section--contact .container .content-message .contact__form .form-group {
            margin-top: 16px; }
            .section--contact .container .content-message .contact__form .form-group label {
              font-weight: 400;
              font-size: 16px;
              line-height: 28px;
              color: #FFFFFF; }
            .section--contact .container .content-message .contact__form .form-group input, .section--contact .container .content-message .contact__form .form-group textarea {
              display: block;
              padding: 8px 16px;
              border: none;
              margin-top: 4px;
              width: 94%;
              background: rgba(255, 255, 255, 0.4);
              border-radius: 10px;
              font-weight: 400;
              font-size: 18px;
              color: #FFFFFF;
              resize: vertical; }
          .section--contact .container .content-message .contact__form button {
            margin-top: 30px;
            width: 100%;
            padding: 8px;
            background: #FFFFFF;
            border: none;
            border-radius: 20px;
            text-align: center;
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: #8054E7; }
    .section--contact .container .content-socmed {
      margin-top: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      .section--contact .container .content-socmed .item {
        display: flex;
        justify-content: center;
        align-items: center; }
        .section--contact .container .content-socmed .item .item__icon {
          max-width: 70px;
          margin-right: 30px; }
        .section--contact .container .content-socmed .item .item__info .info__subtitle {
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: #FCFCFC; }
        .section--contact .container .content-socmed .item .item__info .info__title {
          margin-top: 4px;
          font-weight: 500;
          font-size: 22px;
          line-height: 28px;
          color: #FFFFFF; }
  .section--footer {
    padding: 20px 0;
    background: #9976EC; }
    .section--footer .container {
      display: flex;
      justify-content: center;
      align-items: center; }
      .section--footer .container span {
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #FFFFFF; }

/*# sourceMappingURL=apps.css.map */
